<!doctype html>
<html class="no-js" lang="en">
<head>
    <%include ../Partials/head.ejs%>
</head>

<body>
<div class="wrapper">
    <% include ../Partials/header.ejs %>

    <div class="page-wrap">
        <%include ../Partials/sidebar.ejs%>


        <div class="main-content">
            <div class="container-fluid">

            </div>
        </div>

        <% include ../Partials/footer.ejs %>

    </div>
</div>
<% include ../Partials/bodyScriptLoader.ejs %>
</body>
</html>
